{% include 'navbar.html' %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Enter password"/>
    <input type="submit" name="login" placeholder="Login"/>
</form>
<p>DON'T YOU HAVE AN ACCOUNT?
<a class="nav-item nav-link active" href="{% url 'signup' %}">Create account! <span class="sr-only"></span></a>
