<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Links</title>
</head>
<body>
{% include 'navbar.html' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Owner</th>
      <th scope="col">URL</th>
      <th scope="col">Stripped URL</th>
      <th scope="col">Created_at</th>
    </tr>
  </thead>
  <tbody>
  {% for link in links %}
    <tr>
      <td>{{ link.owner }}</td>
      <td><a href="{{ link.current_url }}" class="nav-item nav-link active">{{ link.current_url }}<span class="sr-only"></span></a></td>
      <td><a href="{{ link.current_url }}" class="nav-item nav-link active">{{ link.striped_url }}<span class="sr-only"></span></a></td>
      <td>{{ link.createdAt }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>